Repository openapi/preset-effector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser json

example: rebuild with v0.3.0
  example/api/index.ts
Due: prettier --write, eslint --fix

feat: export params interface in generated code
  example/api/index.ts
  src/index.js
  src/index.test.js
  tests/index.snap.js
Due: prettier --write, eslint --fix

0.3.1
  package.json
Due: prettier --write --parser json

feat: starting upgrade to openapi@2
  example/.openapi.config.js
  index.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: start migration to a new version
  example/.openapi.config.js
  example/api/index.ts
  index.js
  package.json
  src/contracts.js
  src/index.js
  src/interfaces.js
  yarn.lock
Due: prettier --write, eslint --fix, prettier --write --parser json

Update index.js
  src/index.js
Due: prettier --write, eslint --fix

fix(contracts): working with object without properties
  .idea/.gitignore
  .idea/inspectionProfiles/Project_Default.xml
  src/contracts.js
  src/contracts.test.js
Due: prettier --write, eslint --fix

chore: ignore idea
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/effector-preset.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
Due: none

0.3.2
  package.json
Due: prettier --write --parser json

chore: update snapshots
  tests/index.snap.js
Due: prettier --write, eslint --fix

fix: name of the package
  README.md
Due: none

fix: by default type of schema is object
  src/contracts.js
Due: prettier --write, eslint --fix

fix: when anyOf is used with simple object
  src/interfaces.js
Due: prettier --write, eslint --fix

chore: remove .idea path
  .idea/.gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/effector-preset.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
Due: none

fix: remove duplicated error codes
  index.js
Due: prettier --write, eslint --fix

feat: add Fx prefix to generated effect name
  src/index.js
Due: prettier --write, eslint --fix

chore: add @ts-nocheck
  index.js
Due: prettier --write, eslint --fix

test: update for latest template
  src/index.test.js
  tests/index.snap.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,mjs}
  eslint --fix: any of: *.{ts,tsx,js,jsx,mjs}
  prettier --write --parser json: any of: {*.json,.huskyrc,.prettierrc,.lintstagedrc,.eslintrc}
