Repository openapi/preset-effector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser json

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs}": ["prettier --write", "eslint --fix"],
  "{*.json,.huskyrc,.prettierrc,.lintstagedrc,.eslintrc}": [
    "prettier --write --parser json"
  ]
}

chore: add script prepublish and publish config
  package.json
Due: prettier --write --parser json

docs: fix typo in readme
  README.md
  package.json
Due: prettier --write --parser json

feat: add contract renderer
  .eslintrc
  index.js
  lib/contracts.js
  lib/contracts.test.js
  package.json
  tests/index.snap.js
  yarn.lock
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: generate effect source, done contracts and type
  .eslintrc
  index.js
  lib/comments.js
  lib/contracts.js
  lib/indentation.js
  lib/request.js
  lib/request.test.js
  lib/status.js
  lib/template.js
  package.json
  tests/fixtures/generate-accesso-api.js
  tests/index.snap.js
  tests/poc.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix, prettier --write --parser json

fix typed typo, remove union contract, fix effect status matcher, add example
  example/.eslintrc
  example/api/index.ts
  example/config.js
  lib/contracts.js
  lib/contracts.test.js
  lib/request.js
  lib/request.test.js
  tests/poc.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

add support for numbers and booleans
  lib/contracts.js
  lib/contracts.test.js
Due: prettier --write, eslint --fix

add support of arrays
  lib/contracts.js
  lib/contracts.test.js
Due: prettier --write, eslint --fix

refactor: on classes
  lib/contracts.js
  lib/contracts.test.js
Due: prettier --write, eslint --fix

feat: rename to effector-openapi-preset
  README.md
  example/api/index.ts
  index.js
  lib/contracts.js
  package.json
  tests/index.test.js
  yarn.lock
Due: prettier --write, eslint --fix, prettier --write --parser json

generate fx with babel
  example/api/index.ts
  package.json
  src/index.js
  src/index.test.js
  src/status.js
  yarn.lock
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: implement effect with types
  src/index.js
  src/index.test.js
Due: prettier --write, eslint --fix

feat: add contract renderer
  src/contracts.js
  src/contracts.test.js
  src/index.js
Due: prettier --write, eslint --fix

add contracts for each effect
  src/contracts.js
  src/contracts.test.js
  src/index.js
  src/index.test.js
Due: prettier --write, eslint --fix

add comments for responses
  src/contracts.js
  src/index.js
  src/index.test.js
Due: prettier --write, eslint --fix

remove old code, rebuild example
  example/.openapi.config.js
  example/api/index.ts
  index.js
  lib/comments.js
  lib/contracts.js
  lib/contracts.test.js
  lib/indentation.js
  lib/request.js
  lib/request.test.js
  src/contracts.js
  src/contracts.test.js
  src/index.test.js
  tests/fixtures/generate-accesso-api.js
  tests/index.snap.js
Due: prettier --write, eslint --fix

feat: add interface generation
  example/accesso-app-public-api.ts
  src/contracts.js
  src/interfaces.js
  src/interfaces.test.js
Due: prettier --write, eslint --fix

feat: add comments for object contract
  src/comments.js
  src/contracts.js
  src/contracts.test.js
  src/index.js
  src/index.test.js
Due: prettier --write, eslint --fix

feat: add support for allOf, anyOf, oneOf for interfaces
  src/interfaces.js
  src/interfaces.test.js
Due: prettier --write, eslint --fix

refactor: template and add tests
  index.js
  lib/status.js
  src/interfaces.test.js
  src/template.js
  src/template.test.js
Due: prettier --write, eslint --fix

refactor: remove createError function
  example/accesso-app-public-api.ts
  index.js
  src/index.js
  src/index.test.js
Due: prettier --write, eslint --fix

feat: add params body generation
  example/accesso-app-public-api.ts
  index.js
  package.json
  src/index.js
  src/index.test.js
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: add effectorImport option
  example/.openapi.config.js
  example/api/index.ts
  index.js
  package.json
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: add options and readme
  README.md
  example/.openapi.config.js
  example/api/index.ts
  index.js
  src/index.js
  src/index.test.js
Due: prettier --write, eslint --fix

example: using internal api
  example/.openapi.config.js
  example/api/index.ts
Due: prettier --write, eslint --fix

feat: generate template literal when path params is used
  src/index.js
  src/index.test.js
  src/interfaces.js
  src/path-literal.js
  src/path-literal.test.js
  tests/index.snap.js
Due: prettier --write, eslint --fix

feat: destructure and pass parameters and body to requestFx
  src/index.js
  src/index.test.js
Due: prettier --write, eslint --fix

feat: generate body, path, query, header, cookie params
  src/index.js
  src/index.test.js
Due: prettier --write, eslint --fix

fix: invalid properties should be string
  example/api/index.ts
  src/index.js
  src/index.test.js
Due: prettier --write, eslint --fix

feat: replace <br/> in comments to newline
  src/comments.js
Due: prettier --write, eslint --fix

fix: do not pass path to requestFx
  example/api/index.ts
  src/index.js
  src/index.test.js
Due: prettier --write, eslint --fix

feat: add support for allOf contract
  src/contracts.js
  src/contracts.test.js
Due: prettier --write, eslint --fix

feat: add support for additionalProperties for interfaces
  src/contracts.test.js
  src/interfaces.js
  src/interfaces.test.js
Due: prettier --write, eslint --fix

chore: overwrite example by eslint
  package.json
Due: prettier --write --parser json

0.2.0
  package.json
  tests/index.snap.js
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: changed organization name
  package.json
Due: prettier --write --parser json

fix: files in package json
  package.json
Due: prettier --write --parser json

0.2.1
  package.json
Due: prettier --write --parser json

test: fix accesso api
  tests/index.snap.js
Due: prettier --write, eslint --fix

feat: shorten match status with parser
  index.js
  src/index.js
  src/index.test.js
  tests/index.snap.js
Due: prettier --write, eslint --fix

0.3.0
  package.json
Due: prettier --write --parser json
